<div class="section-1">
    <div class="row-width">
        <div class="col-sm-4">
            <form>
                <div class="input-group search-box">
                    <input type="text" class="form-control" placeholder="Search Student" [ngModel]="searchModel"
                        [ngModelOptions]="{standalone: true}" (ngModelChange)="studentSearch($event)">
                    <div class="input-group-append">
                        <span class="input-group-text search-icon"><svg width="1em" height="1em" viewBox="0 0 16 16"
                                class="bi bi-search" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                    d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z" />
                                <path fill-rule="evenodd"
                                    d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z" />
                            </svg></span>
                    </div>
                </div>
            </form>
        </div>
        <div class=" title-text-btns">
            <button type="button" class="btn btn-light add-student-btn" data-toggle="modal"
                data-target=".add-new-stud-modal" (click)="openPopup('addnewStud')">Add new Student</button>
            <button type="button" class="btn btn-light">Switch to List View</button>
        </div>
    </div>
</div>
<div class="section-2">
    <div class="error-fetching" *ngIf="!(studentsList.lenght > 0)"> {{studentsFetchError}} </div>
    <div class="user-card" *ngFor="let stud of studentsList">
        <div class="profile">
            <div class="student-picture">
                <img src="https://i.pinimg.com/originals/51/f6/fb/51f6fb256629fc755b8870c801092942.png"
                    alt="user-image">
            </div>
            <div class="student-det">
                <div class="stud-name">{{stud.firstname}} {{stud.lastname}}</div>
                <div>Class / Section : {{stud.class}} - {{stud.section}}</div>
                <div>{{stud.rollNumber}} | {{stud.age}}Y old</div>
            </div>
        </div>
        <div class="personal-details">
            <div class="parent-details">
                <p>
                    Father <span>: {{stud.fathername}}</span>
                </p>
                <p>
                    Mother <span>: {{stud.mothername}}</span>
                </p>
                <p>
                    Mobile <span>: {{stud.father_mobile}} </span>
                </p>
                <p>
                    DOB <span>: {{stud.dob | date:'dd-MMM-yyyy'}}</span>
                </p>
                <p>
                    Address <span>: {{stud.address}}</span>
                </p>
            </div>
        </div>
        <div class="easy-links">
            <a data-toggle="modal" data-target=".fee-details-modal" (click)="openPopup('feeDetails' , stud._id)">Fee Details</a>
            <a href="">Teacher Details</a>
            <a href="">Attendance</a>
            <a href="">Exams</a>
            <a href="">Circular</a>
            <a href="">Notifications</a>
        </div>
        <div class="actions">
            <button type="button" class="btn btn-light add-student-btn">Modify details</button>
            <button type="button" class="btn btn-light">View Complete Details</button>
        </div>
    </div>


</div>

<!-- Popup for Adding Studnet details - registration form -->
<div class="modal fade add-new-stud-modal" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog"
    aria-labelledby="myLargeModalLabel" aria-hidden="true" #addStududentPopup>
    <div class="modal-dialog modal-large">

        <!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
        <div class="modal-content">
            <div class="modal-header">

                <h4 class="modal-title">Add Student</h4>
                <button type="button" class="close" data-dismiss="modal">Close</button>
            </div>
            <div class="modal-body" *ngIf="isAddStudVismceible">
                <app-add-student></app-add-student>
            </div>
        </div>
    </div>
</div>

<div class="modal fade fee-details-modal" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog"
    aria-labelledby="myLargeModalLabel" aria-hidden="true" #feeDetailsPopup>
    <div class="modal-dialog modal-medium">

        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Fee Details</h4>
                <button type="button" class="close" data-dismiss="modal" (click)="closeFeePopup()">Close</button>
            </div>
            <div class="modal-body" *ngIf="isFeeDetailsVisible">
                <app-fee-details [studentId]="studentId" [closedFeePopup]="closedFeePopup"></app-fee-details>
            </div>
        </div>
    </div>
</div>