<div class="stud_name">{{feeDetails?.firstname}} {{feeDetails?.middlename}} {{feeDetails?.lastname}}</div>
<form class="form" autocomplete="off" [formGroup]="updateFeeForm" novalidate>
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Donation</th>
        <th scope="col">Term Fee</th>
        <th scope="col">Amount Paid</th>
        <th scope="col">Balance Amount</th>
        <th scope="col">No. of Installments</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngIf="(feeDetails?.fee_id) && (!isUpdateFee)">
        <td>{{(feeDetails?.fee_id?.donation) ? (feeDetails?.fee_id?.donation) : '-'}}</td>
        <td>{{(feeDetails?.fee_id?.termfee) ? (feeDetails?.fee_id?.termfee) : '-'}}</td>
        <td>{{(feeDetails?.fee_id?.amount_paid) ? (feeDetails?.fee_id?.amount_paid) : '-'}}</td>
        <td>{{(feeDetails?.fee_id?.balance_amount) ? (feeDetails?.fee_id?.balance_amount) : '-'}}</td>
        <td>{{(feeDetails?.fee_id?.no_of_installments) ? (feeDetails?.fee_id?.no_of_installments) : '-'}}</td>
        <td class="edit-fees"><a (click)="editFeeDetails(feeDetails.fee_id._id)">Edit</a></td>
      </tr>
      <tr *ngIf="isUpdateFee">
        <td>
          <input type="text" formControlName="donation" class="form-control form-control-sm">
          <!-- <small *ngIf="registerFormFields.firstname" class="alerterror">
                        <span class="alert-error">{{registerFormFields.firstname}}</span>
                    </small> -->
        </td>
        <td><input type="text" formControlName="termfee" class="form-control form-control-sm"></td>
        <td><input type="text" formControlName="amount_paid" class="form-control form-control-sm"></td>
        <td><input type="text" formControlName="balance_amount" class="form-control form-control-sm"></td>
        <td><input type="text" formControlName="no_of_installments" class="form-control form-control-sm"></td>
        <td>
          <span (click)="updateFee()">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
              class="bi bi-check-square" viewBox="0 0 16 16">
              <title>Save</title>
              <path fill-rule="evenodd"
                d="M14 1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z" />
              <path fill-rule="evenodd"
                d="M10.97 4.97a.75.75 0 0 1 1.071 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.236.236 0 0 1 .02-.022z" />
            </svg>
          </span>
          <span (click)="cancelUpdate()">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-square"
              viewBox="0 0 16 16">
              <title>Cancel</title>
              <path fill-rule="evenodd"
                d="M14 1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z" />
              <path fill-rule="evenodd"
                d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
            </svg>
          </span>
        </td>
        <input type="hidden" formControlName="fees_id">
      </tr>
    </tbody>
  </table>
  <div class="update-valid-error">{{updateValidationError}}</div>
</form>


<div class="accordion" id="accordionExample">
  <div class="card">
    <div class="card-header" id="headingOne">
      <span class="mb-0">
        <button class="links btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne"
          aria-expanded="true" aria-controls="collapseOne">
          Make Payments
        </button>
      </span>
    </div>

    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body">
        <div class="row">
        <div class="col-sm-3">
          <label for="">Total Amount</label>
          <input type="text" name="total_amount" [(ngModel)]="feeDetails.fee_id.termfee" class="form-control form-control-sm" disabled>
        </div>
        <div class="col-sm-3">
          <label for="">Balance Amount</label>
          <input type="text" name="balance_amount"[(ngModel)]="feeDetails.fee_id.balance_amount"  class="form-control form-control-sm" disabled>
        </div>
        <div class="col-sm-3">
          <label for="">Payment Amount </label>
          <input type="text" name="pay_amount" placeholder="Enter Amount" class="form-control form-control-sm">
        </div>
        <div class="col-sm-3 pay-btn">
          <!-- <label for=""></label> -->
          <button class="btn btn-sm btn-primary">pay</button>
        </div>
        
      </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingTwo">
      <span class="mb-0">
        <button class="links btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo"
          aria-expanded="false" aria-controls="collapseTwo">
          See Transactions
        </button>
      </span>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
      <div class="card-body">
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">Amount Paid</th>
              <th scope="col">Payment Type</th>
              <th scope="col">Date</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>5000</td>
              <td>Donation</td>
              <td>29-DEC-2019</td>
            </tr>
            <tr>
              <td>3000</td>
              <td>Tution Fees</td>
              <td>29-JAN-2019</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>