
.stud_name {
    font-size: 16px;
    text-align: center;
    margin-top: -10px;
    color: var(--blue);
    font-weight: 500;
}

.fee-transactions {
    font-size: 11px;
    cursor: pointer;
    color: var(--blue);
    padding: 5px;
}
.edit-fees a {
    color: var(--blue);
    text-decoration: underline;
    cursor: pointer;
}
td span svg {
    margin: 5px 5px 0 0;
    cursor: pointer;
}
.update-valid-error {
    font-size: 11px;
    color: var(--red);
    position: relative;
    bottom: 15px;
    left: 10px;
}
.links {
    font-size: 12px;
}
.pay-btn{
    position: relative;
    top: 25px;
}
