/* You can add global styles to this file, and also import other style files */
@import "angular-notifier/styles.css";

:root {
  --blue: #007bff;
  --white: #ffffff;
  --red: red;
  --smoke: #ececec;
  --lightblack: #504e4e;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif !important;
}

input,
button,
select {
  box-shadow: none !important;
  outline: none !important;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #888;
  /* border-radius: 5px; */
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.form-group.required .control-label:after {
  content: "*";
  color: red;
  padding-left: 5px;
}

::placeholder{
  font-size: 11px;
  color: var(--lightblack);
}

.alerterror{
  position: absolute;
  margin-left: 5px;
  color: red;
}

/* popup  design*/
.modal {
  padding: 0 !important;
}
.modal .modal-large{
  width: 90%;
  max-width: none;
  height: 90%;
  border: 1px solid var(--lightblack);
  margin: 0 auto;
  margin-top: 10px;
}
.modal .modal-medium{
  width: 50%;
  max-width: none;
  height: 60%;
  border: 1px solid var(--lightblack);
  margin: 0 auto;
  margin-top: 10px;
}
.modal .modal-small{
  width: 30%;
  max-width: none;
  height: 60%;
  border: 1px solid var(--lightblack);
  margin: 0 auto;
  margin-top: 10px;
}
.modal .modal-content {
  height: 100%;
  border: 0;
  border-radius: 0;
}
.modal .modal-body {
  overflow-y: auto;
}

/* table design */
table {
  border: 1px solid #dee2e6;
  text-align: center;
}
thead {
  background-color: grey;
  color: white;
}